.flex-container {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: flex-start;
    // gap: 20px;
    // flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 20px;
    @media(max-width:995px) {
        grid-template-columns: repeat(2,auto);
    }
    @media(max-width:600px) {
        grid-template-columns: repeat(1,auto);
    }
}